<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">BookHive</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        
        <li class="nav-item">
          <a class="nav-link" routerLink=""  >Home</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/ContactPage" >Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<h1>
  Browse through a vertity of Book
</h1>
<div class="bp" >
<table class="table table-striped" >
    <thead>
        <tr>
          <th style="width: 230px;">BookImage</th>
            <th style="width: 330px;">
              <div class="d-flex flex-row">
                <input [(ngModel)]="BookNameSearch" class="form-control"
                (keyup)="SearchFn()" placeholder="BookName">
            </div>
              BookName</th>
            <th>BookId</th>
            <th>Gerner</th>
            <th style="width: 230px;"> <div >
              <input [(ngModel)]="BookAuthorSearch" class="form-control"
                 (keyup)="SearchFn()" placeholder="Author">
            
         </div>
              
              Author</th>
            <th>Language</th>
            <th>Price</th>
            
            <th>Options</th>
        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let dataItem of Booklist">
          <td><img src={{dataItem.Photo}} width="100px"/></td>
          <td>{{dataItem.BookName}}</td>
            <td>
                <button type="button" class="btn btn-primary  m-2" 
                data-toggle="modal" data-target="#exampleModal"
                (click)="addClick(dataItem.BookId)" 
                data-backdrop="static" data-keyboard="false"
                >
                
                {{dataItem.BookId}}
                  </button>
                  
                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
                          <button type="button" class="close" 
                          data-dismiss="modal" aria-label="Close"
                          (click)="closeClick()" >
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <app-description [new]="n">
                          </app-description>
                            
                        </div>
                      </div>
                    </div>
                  </div>
                
                
                
                
            </td>
            
            <td>{{dataItem.Gerner}}</td>
            <td>{{dataItem.Author}}</td>
            <td>{{dataItem.Language}}</td>
            <td>{{dataItem.Price}}</td>
            <td>
                
                <button type="button" class="btn btn-light mr-1"
                

data-backdrop="static" data-keyboard="false" (click)="addcart(dataItem)"
                >
                Cart
                </button>
                </td>
        </tr>
    </tbody>
</table>
</div>
<div>
    <a mat-raised-button class="log" color="primary" [routerLink]="['/User',id]" >Back</a>
    </div>