<table class="table table-striped">
    <thead>
        <tr>
            <th>BookName</th>
            <th>BookId</th>
            <th>Gerner</th>
            <th>Language</th>
            <th>Price</th>
            <th>BookImage</th>
            <th>Options</th>
        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let dataItem of Booklist">
          <td>{{dataItem.BookName}}</td>
            <td>
                <button type="button" class="btn btn-primary  m-2" 
                data-toggle="modal" data-target="#exampleModal"
                (click)="addClick(dataItem.BookId)" 
                data-backdrop="static" data-keyboard="false"
                >
                
                {{dataItem.BookId}}
                  </button>
                  
                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
                          <button type="button" class="close" 
                          data-dismiss="modal" aria-label="Close"
                          (click)="closeClick()" >
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <app-description [new]=n>
                          </app-description>
                            
                        </div>
                      </div>
                    </div>
                  </div>
                
                
                
                
            </td>
            
            <td>{{dataItem.Gerner}}</td>
            <td>{{dataItem.Language}}</td>
            <td>{{dataItem.Price}}</td>
            <td><img src={{dataItem.Photo}} width="100px"/></td>
            <td>
                
                <button type="button" class="btn btn-light mr-1"
                

data-backdrop="static" data-keyboard="false"
                >
                Buy
                </button>
                </td>
        </tr>
    </tbody>
</table>
<div>
    <a mat-raised-button class="log" color="primary" routerLink="/User" >Back</a>
    </div>