<div>
    <mat-toolbar color="" class="mat-elevation-z11">
        <span><mat-icon>eco</mat-icon>BookHive</span>
        <a mat-raised-button class="log"  routerLink="" >Home</a>
        <p>
          
        </p>
        <a mat-raised-button>About</a>
        <a mat-raised-button class="log"  routerLink="/ContactPage">Contact</a>
        <div class="space"></div>
      </mat-toolbar>
</div>


<h1 class="head">Browse </h1>

<div class="body">
<table class="table table-striped">
    <thead>
        <tr>
            <th>Image</th>
            <th style="width: 330px;">
                <div class="d-flex flex-row">
                    <input [(ngModel)]="BookNameSearch" class="form-control"
                    (keyup)="SearchFn()" placeholder="BookName">
                </div>
                BookName</th>
            <th>BookId</th>
            <th>Gerner</th>
            <th style="width: 230px;">
                <div >
                     <input [(ngModel)]="BookNameSearch" class="form-control"
                        (keyup)="SearchFn()" placeholder="Author">
                   
                </div>Author</th>
                
            <th>Language</th>
            <th>
               
                Price</th>
                

        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let dataItem of Booklist">
            <td><img src={{dataItem.Photo}} width="100px"/></td>
            <td>{{dataItem.BookName}}</td>
            <td>{{dataItem.BookId}}</td>
            <td>{{dataItem.Gerner}}</td>
            <td>{{dataItem.Author}}</td>
            <td>{{dataItem.Language}}</td>
            <td>{{dataItem.Price}}</td>
           
        </tr>
    </tbody>
</table>
</div>
<a mat-raised-button class="log" color="primary" routerLink="/Admin" >Back</a>
