<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">BookHive</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          
          <li class="nav-item">
            <a class="nav-link" routerLink=""  >Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink=""  >Back</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/ContactPage" >Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<h1>
   Search Catalog 

</h1>


<div class="body">

<table class="table table-striped">
    <thead>
        <tr>
            <th>Image</th>
            <th style="width: 330px;">
                <div class="d-flex flex-row">
                    <input [(ngModel)]="BookNameSearch" class="form-control"
                    (keyup)="SearchFn()" placeholder="BookName">
                </div>
                BookName</th>
            <th>BookId</th>
            <th>Gerner</th>
            <th style="width: 230px;">
                <div >
                     <input [(ngModel)]="BookAuthorSearch" class="form-control"
                        (keyup)="SearchFn()" placeholder="Author">
                   
                </div>Author</th>
                
            <th>Language</th>
            <th>
               
                Price</th>
                

        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let dataItem of Booklist">
            <td><img src={{dataItem.Photo}} width="100px"/></td>
            <td>{{dataItem.BookName}}</td>
            <td>{{dataItem.BookId}}</td>
            <td>{{dataItem.Gerner}}</td>
            <td>{{dataItem.Author}}</td>
            <td>{{dataItem.Language}}</td>
            <td>{{dataItem.Price}}</td>
           
        </tr>
    </tbody>
</table>
</div>
<a mat-raised-button class="log" color="primary" routerLink="" >Back</a>
