<div class="d-flex flex-row bd-highlight mb-5" *ngFor="let dataItem of Booklist">

    <div class="form-froup row" style="width: 60%;">
        <label class="col-sm-2 col-form-label">BookName</label>
        <div class="col-sm-10">
            {{dataItem.BookName}}
        </div>
        <label class="col-sm-2 col-form-label">BookId</label>
        <div class="col-sm-10">
            
            {{dataItem.BookId}}
        </div>
        <div class="col-sm-10">
            <label class="col-sm-2 col-form-label">Gerner</label>
            {{dataItem.Gerner}}
    </div>


        <div class="col-sm-10">
            <label class="col-sm-2 col-form-label">Language</label>
            {{dataItem.Language}}
        </div>
        <div class="col-sm-10">
            <label class="col-sm-2 col-form-label">Price</label>
            {{dataItem.Price}}
       
    </div>
    <button   class="btn btn-primary">
        Add To Cart
    </button>

</div>
<div class="col-sm-10">
    <img src={{dataItem.Photo}} width="100px"/>
</div>

