<div class="row" *ngFor="let dataItem of Booklist" >
<div  class="col-md-6" >
    <div >
        <div>
            <label ><b>BookName :</b></label>
            {{dataItem.BookName}}
        <div >
            <label ><b>Author  :</b></label>
            {{dataItem.Author}}
        </div>
        <div class="col-sm-5">
            <label><mark><b>Description</b></mark></label>
            <br><em>
            {{dataItem.Description}}</em>
        </div>
        <br>
        <div >
            <label ><b>Price :</b></label>  
            {{dataItem.Price}}
    </div>
</div>
</div>
</div>
<div class="col-md-6">
    <img src={{dataItem.Photo}} width="200px"/>
</div>
</div>

