<div class="body">

<div class="d-flex flex-row bd-highlight">

    <div class="form-froup row">
        <div class="col-sm-5">
        <label class="col-sm-2 col-form-label">BookName</label>
        
         <input type="text" class="form-control" [(ngModel)]="BookName"
            placeholder="Enter BookName">
        </div>
        <div class="col-sm-5">
        <label class="col-sm-2 col-form-label">BookId</label>
        
            <input type="text" class="form-control" [(ngModel)]="BookId"
            placeholder="Enter BookId">

        </div>
        <div class="col-sm-5">
            <label class="col-sm-2 col-form-label">Gerner</label>
        <input type="text" class="form-control" [(ngModel)]="Gerner"
        placeholder="Enter Gerner">
    </div>
    <div class="col-sm-5">
        <label class="col-sm-2 col-form-label">Author</label>
        
            <input type="text" class="form-control" [(ngModel)]="Author"
            placeholder="Author">

        </div>
        <div class="col-sm-5">
            <label class="col-sm-2 col-form-label">Language</label>
            
                <input type="text" class="form-control" [(ngModel)]="Language"
                placeholder="Enter Language">
    
            </div>

        <div class="col-sm-10">
            <label class="col-sm-2 col-form-label">Description</label>
        <input type="text" class="form-control" [(ngModel)]="Description"
        placeholder="Enter Description">
    </div>
    

        <div class="col-sm-4">
            <label class="col-sm-2 col-form-label">Price</label>

        <input type="text" class="form-control" [(ngModel)]="Price"
        placeholder="Enter Price">
    </div>
    <div class="col-sm-10">
        <label class="col-sm-2 col-form-label">BookImage</label>

    <input type="text" class="form-control" [(ngModel)]="Photo"
    placeholder="Enter Price">
</div>
</div>
</div>
<br>
<button (click)="addBookList()"  class="btn btn-primary">
    Add
</button>
<br>
<br>
<button (click)="updateBook()"  class="btn btn-primary">
    Update
</button>
</div>
