.body {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSU1yXDyGmbNkx4EZC3UtF109QTMeUVqRAHLg&usqp=CAU');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    background-position:0%;
  }