<h2>Search For Books Based on  Required BookName</h2>


<table class="table table-striped">
    <thead>
        <tr>
            <th>
                <div class="d-flex flex-row">
                    <input [(ngModel)]="BookNameSearch" class="form-control"
                    (keyup)="SearchFn()" placeholder="BookName">
                </div>
                BookName</th>
            <th>BookId</th>
            <th>Gerner</th>
            <th>Language</th>
            <th>
               
                Price</th>
                <th>Options</th>
        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let dataItem of Booklist">
            <td>{{dataItem.BookName}}</td>
            <td>{{dataItem.BookId}}</td>
            <td>{{dataItem.Gerner}}</td>
            <td>{{dataItem.Language}}</td>
            <td>{{dataItem.Price}}</td>
            <td>
                
                <button type="button" class="btn btn-light mr-1"
                data-toggle="modal" data-target="#exampleModal"

data-backdrop="static" data-keyboard="false"
                >
                Buy
                </button>
                </td>
        </tr>
    </tbody>
</table>
<a mat-raised-button class="log" color="primary" routerLink="/User" >Back</a>
