<div class="container">
    <div class="forms-container">
        <div class="signup-signup">
            <form action="#" class="sign-up-form">
                <h2 class="title">User_Sign_Up</h2>


                <div class="input-field">
                    <span class="material-icons">
                        person
                        </span>
                    <input type="text" placeholder="Username" />
                </div>

                <div class="input-field">
                    <span class="material-icons">
                        home
                        </span>
                    <input type="text" placeholder="Address" />
                </div>
                <div class="input-field">
                    <span class="material-icons">
                        phone
                        </span>
                    <input type="number" placeholder="contact" />
                </div>
                <div class="input-field">
                    <span class="material-icons">
                        email
                        </span>
                    <input type="email" placeholder="Email" />
                </div>


                <div class="input-field">
                    <span class="material-icons">
                        lock
                        </span>
                    <input type="text" placeholder="Password" />
                </div>

                
            <input type="submit" class="btn solid" value="SignUp" routerLink="/Login"/>
            <p class="social-text">Or Sign up with social platforms</p>



            <div class="social-media">
                <a href="#" class="social-icon">
                <i class="fab fa-facebook-f"></i>
                </a>

                <a href="#" class="social-icon">
                <i class="fab fa-twitter"></i>
                </a>

                <a href="#" class="social-icon">
                <i class="fab fa-google"></i>
                </a>

                <a href="#" class="social-icon">
                <i class="fab fa-linkedin"></i>
                </a>
               </div>
            </form>
        </div>
    </div>
</div>