
    <div  *ngFor="let dataItem of Detailslist" >
        <div class="col mb-3">
            <div class="col mb-3">
                <label for="UserId" class="form-label">Your Id :</label>
                {{dataItem.UserId}}
            </div> 
        </div>
        <div class="col mb-3">
            <div class="col mb-3">
                <label for="UserName" class="form-label">Your Name :</label>
                {{dataItem.UserName}}
            </div> 
        </div>
        <div class="col mb-3">
            <div class="col mb-3">
                <label for="UserEmail" class="form-label">YourMail :</label>
                {{dataItem.UserEmail}}
            </div> 
        </div>
        <div class="col mb-3">
            <div class="col mb-3">
                <label for="Password" class="form-label">YourNumber :</label>
                {{dataItem.Contact}}
            </div> 
        </div>
        <div class="col mb-3">
            <div class="col mb-3">
                <label for="Address" class="form-label">Address :</label>
                {{dataItem.Address}}
            </div> 
        </div>
        
    </div>






