

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">BookHive</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          
          <li class="nav-item">
            <a class="nav-link" routerLink=""  >Home</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/ContactPage" >Contact</a>
          </li>
          <li class="nav-item">
            <button type="button" (click)="gocart()" class="btn btn-success">Cart</button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-primary float-right m-2" 
data-toggle="modal" data-target="#exampleModal"
data-backdrop="static" data-keyboard="false"
>
    Profile
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Yor Profile</h5>
          <button type="button" class="close" 
          data-dismiss="modal" aria-label="Close"
           >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <app-userprofile [new]="id">
            </app-userprofile>
        </div>
      </div>
    </div>
  </div>

          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="banner">
    <div class="content">
        <h1 class="mb-5">All Books <br/><br/> At One Place.</h1>
        <a routerLink="/Viewbooks">ORDER NOW <i class="bi bi-arrow-right"></i></a>
    </div>
  </div>
 
  <!-- Bookbox  -->
  
  <div class="container mt-4 mb-4">
      <h1 class="text-center"><span class="highlight">Customers Trending Books</span></h1>
      <div class="row">
          <div class="col-lg-3 mt-3" *ngFor="let bd of BookData;index as i">
              <div class="Bookbox" *ngIf="i<=7">
                  <img src="{{bd.BookImg}}" />
                  <h1 style="color:blue;">{{bd.BookName}}</h1>
                <p style="color:blue;">{{bd.BookPrice | currency:'INR'}}</p>
              </div>
          </div>
      </div>
      <button type="button" (click)="gopage()" class="btn btn-success">Success</button>  </div>


  <div class="img-fluid">
    <div class="btn btn-success">
      <a mat-raised-button class="log"  routerLink="" style="color:red;" >LogOut</a>
  
  </div>
  </div>
  <div class="container-fluid footer mt-5">
    <div class="row">
        <!-- name  -->
        <div class="col-lg-6 mt-3 mb-3">
            <h1>BookHive</h1>
            <p>BUY BOOKS! ANYTIME, ANYWHERE</p>
        </div>
        <!-- nav  -->
        <div class="col-lg-4 mt-3 mb-3">
            <a routerLink="">Home</a>
            
            <a routerLink="/About">About</a>
            <a routerLink="/Contact">Contact</a>
        </div>
        <!-- socialmedia -->
        <div class="col-lg-2 mt-3 mb-3">
            <a href="#" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="#" target="_blank"><i class="bi bi-whatsapp"></i></a>
            <a href="#" target="_blank"><i class="bi bi-instagram"></i></a>
            
        </div>
    </div>
  </div>
  
