<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">BookHive</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <!-- <li class="search-icon">
            <input type="srch"  name="" placeholder="Search Books">
            <label class="icon">
            <span class="fas fa-search"></span>
            </label>
            </li> -->
          <li class="nav-item">
            <a class="nav-link" routerLink=""  >Home</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/ContactPage" >Contact</a>

          </li>
        
       
    <a mat-raised-button class="log" color="primary" routerLink="" >LogOut</a>

          
        </ul>
      </div>
    </div>
  </nav>
<br>
<h1>All The Registered Users Can Be Viewed Hear</h1>
<table class="table table-striped" >
    <thead bgColor="aqua">
        <tr>
            <th>UserName</th>
            <th>UserEmail</th>
            <th>Contact</th>
            <th>Address</th>
            <th>UserId</th>
           
        </tr>

    </thead>
    <tbody >
        <tr *ngFor="let dataItem of Userlist">
            <td>{{dataItem.UserName}}</td>
            <td>{{dataItem.UserEmail}}</td>
            <td>{{dataItem.Contact}}</td>
            <td>{{dataItem.Address}}</td>
            <td>{{dataItem.UserId}}</td> 
        </tr>
    </tbody>
</table>
<div>
<a mat-raised-button class="log" color="primary" routerLink="/Admin" >Back</a>
</div>