<div class="container">
    <div class="forms-container">
        <div class="signin-signup">
            <form action="#" class="sign-in-form">
                <h2 class="title">Admin-Login</h2>

                <div class="input-field">
                    <span class="material-icons">
                        person
                        </span>
                    <input type="text" placeholder="Username" />
                </div>


                <div class="input-field">
                    <span class="material-icons">
                        lock
                        </span>
                    <input type="text" placeholder="Password" />
                </div>

                <a mat-raised-button type="submit" id="login-text" class="btn solid" routerLink="/Admin" >Login</a>
            


            

               
            </form>
        </div>
    </div>
</div>
